/* General card styles */
.card {
  background-color: rgba(153, 153, 153, 0.2) !important;
  box-shadow: 1px 1px 10px rgb(142, 142, 141);
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

/* Card body */
.card-body {
  background-color: transparent !important;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Text and venue/city info */
.card-body p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Delete button styles */
.remove-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #888;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for delete button */
.remove-btn:hover {
  background-color: black;
  color: white;
}
