/* .results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.search-container {
background-color: none;
width: 100vw;
height: 3vw;
min-height: 20px;
margin: .5vw;
}




} */