.category {
  margin-bottom: .2%;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  background-color: rgba(153, 153, 153, 0.05);
  position:relative;
  width: 95vw;
  border: solid rgba(255, 217, 0, 0.05);
  border-radius: 8px;
}

.scrolling-row {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: .5vw;
}

.title {
  text-align: left;
  color: aliceblue;
  border-bottom: rgba(215, 217, 0, 0.137) 4px;
  background: rgb(119, 119, 119, .6);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
  margin-top: 0;
  margin-bottom: 0;
  padding-left:1%;
}

.scroll-arrow {
 height: 2vw;
 width: 2vw;
 position: center;
 cursor: pointer;
 border: solid #ccc 1px;
 border-radius: 8px;
 margin: .5vw;
}

/* .scroll-arrow .left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2bc58;
  color: #000;
  border: solid #444;
  cursor:pointer;
  padding: 5px 10px 5px 10px;
  margin: 2%;
  z-index: 1;
  border-radius: 8px;
}

.scroll-arrow .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2bc58;
  color: #000;
  border: solid #444;
  cursor:pointer;
  padding: 5px 10px 5px 10px;
  margin: 2%;
  z-index: 1;
  border-radius: 8px;
} */

.homepage{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.each-slide-container{
  display:flex;
  flex-direction: row;
}

.each-slide{
  /* border: 1px solid black; */
  display: flex;
  height: 4%vw;
  width: 95%;
  /* width: 500px; */
  overflow: hidden;
  margin-bottom: 20px;
}

.event-card{
  /* border: 1px solid black; */
  background-image: url("../images/flyer_background.jpg");
  box-shadow: 1px 1px 10px rgb(142, 142, 141);
  height: inherit;
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.event-card img{
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.event-card h5{
  /* border: 1px solid black; */
  height: 50px;
  overflow: hidden;
}

.add-location-btn{
  border: 1px solid black;
  border-radius: 5px;
}
.add-location-btn:hover{
  /* border: 1px solid black; */
  color: white;
  background-color: black;
  border-radius: 5px;
}
