.category {
  margin-bottom: .2%;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  background-color: rgba(153, 153, 153, 0.05);
  position:relative;
  width: 95vw;
  border: solid rgba(255, 217, 0, 0.05);
  border-radius: 8px;
}

.scrolling-row {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: .5vw;
  background-color: transparent;
}

.scroll-arrow-left {
  height: 3vw;
  width: 3.4vw;
  position: center;
  margin-top: 9%;
  margin-right: .5vw;
  border: none;
}

.scroll-arrow-right {
  height: 3vw;
  width: 3.4vw;
  position: center;
  margin-top: 9%;
  margin-left: .5vw;
  border: none;
 }

.homepage{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.each-slide-container{
  display:flex;
  flex-direction: row;
  /* border: solid rgb(221, 221, 221, .20); */
  padding: .8vw;
}

.each-slide{
  /* border: 1px solid black; */
  display: flex;
  height: 4%vw;
  width: 95%;
  /* width: 500px; */
  overflow: hidden;
}

.event-card{
  /* border: 1px solid black; */
  background-image: url("../images/flyer_background.jpg");
  box-shadow: 1px 1px 10px rgb(142, 142, 141);
  height: inherit;
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.event-card img{
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.event-card h5{
  /* border: 1px solid black; */
  height: 50px;
  overflow: hidden;
  background-color: transparent;
}

.event-card span {
  background: transparent;
  
}

.event-card a {
  background: transparent;
}

.event-card .see-more{
  margin-left: .9vw;
  border-radius: 4px;
}

.add-location-btn{
  border: 1px solid black;
  border-radius: 5px;
}
.add-location-btn:hover{
  /* border: 1px solid black; */
  color: white;
  background-color: black;
  border-radius: 5px;
}
