.category {
  margin-bottom: .2%;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  background-color: rgba(153, 153, 153, 0.05);
  position:relative;
  width: 95vw;
  border: solid rgba(255, 217, 0, 0.05);
  border-radius: 8px;
}

.scrolling-row {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: .5vw;
}

.item {
  padding: 1vw;
  margin: .5vw;
  text-align: center;
  border: solid rgba(255, 217, 0, 0.137);
  background: linear-gradient(
    45deg,
    #555 5%,
    #777 10%,
    #888 30%,
    #999 50%,
    #ddd 70%,
    #ddd 80%,
    #999 95%
  );
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 14%;
  height: 15%;
  cursor: pointer;
}

.item img {
  height: 6vw;
  width: 10vw;
  border: solid #ffc4003a 4px;
  border-radius: 4px;
}

.title {
  text-align: left;
  color: aliceblue;
  border-bottom: rgba(215, 217, 0, 0.137) 4px;
  background: rgb(119, 119, 119, .6);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
  margin-top: 0;
  margin-bottom: 0;
  padding-left:1%;
}

.scroll-arrow {
 height: 2vw;
 width: 2vw;
 position: center;
 cursor: pointer;
 border: solid #ccc 1px;
 border-radius: 8px;
}

.scroll-arrow .left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2bc58;
  color: #000;
  border: solid #444;
  cursor:pointer;
  padding: 5px 10px 5px 10px;
  margin: 2%;
  z-index: 1;
  border-radius: 8px;
}

.scroll-arrow .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2bc58;
  color: #000;
  border: solid #444;
  cursor:pointer;
  padding: 5px 10px 5px 10px;
  margin: 2%;
  z-index: 1;
  border-radius: 8px;
}

.homepage{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.each-slide-container{
  display:flex;
  flex-direction: row;
}

.each-slide{
  /* border: 1px solid black; */
  display: flex;
  height: 4%vw;
  width: 98%;
  /* width: 500px; */
  overflow: hidden;
  margin-bottom: 20px;
}

.event-card{
  /* border: 1px solid black; */
  box-shadow: 1px 1px 10px rgb(142, 142, 141);
  height: inherit;
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.event-card img{
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.event-card h5{
  /* border: 1px solid black; */
  height: 50px;
  overflow: hidden;
}

.add-location-btn{
  border: 1px solid black;
  border-radius: 5px;
}
.add-location-btn:hover{
  /* border: 1px solid black; */
  color: white;
  background-color: black;
  border-radius: 5px;
}
