/* ======SignUp====== */

.signup-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/736x/55/20/77/552077874863cf513448f6114433be67.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.signup{
  height: 600px;
  width: 450px;
  margin-top: 0;
}

.input-forms-signup{
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  color: black;
  outline: none;
  box-shadow: inset 1px 1px 10px rgb(126, 124, 124);
  height: 50px;
}

.input-forms-signup::placeholder{
  color: rgb(104, 103, 103);
}

.show-pass{
  background-color:  rgb(241, 178, 82);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
